<!-- Footer -->
<footer class="bg-[#061B0E] border-t border-[#1B3022] w-full pt-20 pb-10">
  <div class="flex flex-col items-center gap-8 w-full px-12">
    <a routerLink="/" class="text-3xl font-headline font-bold text-[#735C00]"><img width="200" src="logo3.png" alt=""></a>

    <nav class="flex flex-wrap justify-center gap-8 md:gap-12">
      <a routerLink="/about" class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 hover:text-[#735C00] transition-all">من نحن</a>
      <a href="#" class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 hover:text-[#735C00] transition-all">شروط النشر</a>
      <a href="#" class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 hover:text-[#735C00] transition-all">سياسة الخصوصية</a>
      <a href="#" class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 hover:text-[#735C00] transition-all">الوصول المؤسسي</a>
      <a routerLink="/contact" class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 hover:text-[#735C00] transition-all">تواصل معنا</a>
    </nav>

    <div class="flex gap-6 mt-4">
      <a aria-label="فيسبوك" class="w-10 h-10 flex items-center justify-center rounded-full bg-surface/5 text-surface hover:bg-secondary transition-all" href="#">
        <span class="material-symbols-outlined text-xl">public</span>
      </a>
      <a aria-label="تويتر - اكس" class="w-10 h-10 flex items-center justify-center rounded-full bg-surface/5 text-surface hover:bg-secondary transition-all" href="#">
        <span class="material-symbols-outlined text-xl">close</span>
      </a>
      <a aria-label="انستجرام" class="w-10 h-10 flex items-center justify-center rounded-full bg-surface/5 text-surface hover:bg-secondary transition-all" href="#">
        <span class="material-symbols-outlined text-xl">camera_alt</span>
      </a>
    </div>

    <div class="h-px w-24 bg-secondary opacity-20 my-4"></div>

    <p class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 text-center">
      © {{ currentYear }} تاريخ الشعوب. جميع الحقوق محفوظة.
    </p>
  </div>
</footer>
