<!-- Footer -->
<footer class="bg-[#061B0E] border-t border-[#1B3022] w-full pt-20 pb-10">
  <div class="flex flex-col items-center gap-8 w-full px-12">
    <a routerLink="/" class="text-3xl font-headline font-bold text-[#735C00]"><img width="200" src="logo.png" alt=""></a>

    <nav class="flex flex-wrap justify-center gap-8 md:gap-12">
      <a routerLink="/about" class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 hover:text-[#735C00] transition-all">{{ ts.t('footer.about') }}</a>
      <!-- <a routerLink="/terms" class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 hover:text-[#735C00] transition-all">{{ ts.t('footer.terms') }}</a> -->
      <a routerLink="/terms" class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 hover:text-[#735C00] transition-all">{{ ts.t('footer.privacy') }}</a>
      <a routerLink="/contact" class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 hover:text-[#735C00] transition-all">{{ ts.t('footer.contact') }}</a>
    </nav>

    <div class="flex flex-col items-center gap-2 mt-4">
      <a href="mailto:tareekhalshoop@gmail.com" class="font-serif text-lg md:text-xl tracking-widest text-secondary hover:text-on-surface transition-colors">
        tareekhalshoop@gmail.com
      </a>
    </div>

    <div class="h-px w-24 bg-secondary opacity-20 my-4"></div>

    <p class="font-serif text-sm tracking-widest uppercase text-[#FBFBE2]/60 text-center">
      © {{ currentYear }} {{ ts.t('footer.rights') }}
    </p>
  </div>
</footer>
