/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* Dark mode (optional لو هتستخدمه) */
@custom-variant dark (&:where(.dark, .dark *));

.gold-gradient {
  background: linear-gradient(135deg, #735C00 0%, #B18D48 100%)
}

/* Theme */
@theme {
  /* Colors */
  --color-surface-variant: var(--surface-variant);
  --color-error: var(--error);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-on-surface: var(--on-surface);
  --color-surface-bright: var(--surface-bright);
  --color-inverse-surface: var(--inverse-surface);
  --color-on-error: var(--on-error);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-tertiary-container: var(--tertiary-container);
  --color-secondary: var(--secondary);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-error-container: var(--error-container);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container-high: var(--surface-container-high);
  --color-on-tertiary-fixed: var(--on-tertiary-fixed);
  --color-primary-fixed-dim: var(--primary-fixed-dim);
  --color-secondary-fixed-dim: var(--secondary-fixed-dim);
  --color-surface-container: var(--surface-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-primary-fixed: var(--primary-fixed);
  --color-on-tertiary: var(--on-tertiary);
  --color-on-primary-fixed-variant: var(--on-primary-fixed-variant);
  --color-surface-dim: var(--surface-dim);
  --color-on-secondary-fixed: var(--on-secondary-fixed);
  --color-tertiary: var(--tertiary);
  --color-outline: var(--outline);
  --color-primary-container: var(--primary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);
  --color-on-secondary: var(--on-secondary);
  --color-surface-tint: var(--surface-tint);
  --color-secondary-fixed: var(--secondary-fixed);
  --color-secondary-container: var(--secondary-container);
  --color-inverse-primary: var(--inverse-primary);
  --color-background: var(--background);
  --color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);
  --color-on-primary: var(--on-primary);
  --color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);
  --color-on-error-container: var(--on-error-container);
  --color-on-background: var(--on-background);
  --color-outline-variant: var(--outline-variant);
  --color-tertiary-fixed: var(--tertiary-fixed);
  --color-on-primary-fixed: var(--on-primary-fixed);

  /* Fonts */
  --font-headline: "Newsreader", "Amiri", serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;

  /* Border radius */
  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@layer base {
  :root {
    --surface-variant: #e4e4cc;
    --error: #ba1a1a;
    --surface-container-lowest: #ffffff;
    --surface: #fbfbe2;
    --primary: #061b0e;
    --on-surface: #1b1d0e;
    --surface-bright: #fbfbe2;
    --inverse-surface: #303221;
    --on-error: #ffffff;
    --on-secondary-container: #745c00;
    --tertiary-container: #3a2800;
    --secondary: #735c00;
    --inverse-on-surface: #f2f2d9;
    --error-container: #ffdad6;
    --on-surface-variant: #434843;
    --surface-container-low: #f5f5dc;
    --surface-container-high: #eaead1;
    --on-tertiary-fixed: #261900;
    --primary-fixed-dim: #b4cdb8;
    --secondary-fixed-dim: #e9c349;
    --surface-container: #efefd7;
    --on-primary-container: #819986;
    --primary-fixed: #d0e9d4;
    --on-tertiary: #ffffff;
    --on-primary-fixed-variant: #364c3c;
    --surface-dim: #dbdcc3;
    --on-secondary-fixed: #241a00;
    --tertiary: #211500;
    --outline: #737973;
    --primary-container: #1b3022;
    --on-tertiary-container: #b18d48;
    --on-secondary: #ffffff;
    --surface-tint: #4d6453;
    --secondary-fixed: #ffe088;
    --secondary-container: #fed65b;
    --inverse-primary: #b4cdb8;
    --background: #fbfbe2;
    --on-tertiary-fixed-variant: #5d4201;
    --on-primary: #ffffff;
    --tertiary-fixed-dim: #e9c176;
    --surface-container-highest: #e4e4cc;
    --on-secondary-fixed-variant: #574500;
    --on-error-container: #93000a;
    --on-background: #1b1d0e;
    --outline-variant: #c3c8c1;
    --tertiary-fixed: #ffdea5;
    --on-primary-fixed: #0b2013;
  }

  .dark {
    --surface-variant: #434843;
    --error: #ffb4ab;
    --surface-container-lowest: #0e110b;
    --surface: #12140b;
    --primary: #99b19e;
    --on-surface: #e4e2d3;
    --surface-bright: #383a30;
    --inverse-surface: #e4e2d3;
    --on-error: #690005;
    --on-secondary-container: #ffe088;
    --tertiary-container: #5d4201;
    --secondary: #e9c349;
    --inverse-on-surface: #303221;
    --error-container: #93000a;
    --on-surface-variant: #c3c8c1;
    --surface-container-low: #1a1c13;
    --surface-container-high: #292a21;
    --on-tertiary-fixed: #261900;
    --primary-fixed-dim: #b4cdb8;
    --secondary-fixed-dim: #e9c349;
    --surface-container: #1e2017;
    --on-primary-container: #b4cdb8;
    --primary-fixed: #d0e9d4;
    --on-tertiary: #412d00;
    --on-primary-fixed-variant: #364c3c;
    --surface-dim: #12140b;
    --on-secondary-fixed: #241a00;
    --tertiary: #e9c176;
    --outline: #8c938c;
    --primary-container: #364c3c;
    --on-tertiary-container: #ffdea5;
    --on-secondary: #3d3000;
    --surface-tint: #99b19e;
    --secondary-fixed: #ffe088;
    --secondary-container: #574500;
    --inverse-primary: #304536;
    --background: #12140b;
    --on-tertiary-fixed-variant: #5d4201;
    --on-primary: #00381e;
    --tertiary-fixed-dim: #e9c176;
    --surface-container-highest: #34352b;
    --on-secondary-fixed-variant: #574500;
    --on-error-container: #ffdad6;
    --on-background: #e4e2d3;
    --outline-variant: #434843;
    --tertiary-fixed: #ffdea5;
    --on-primary-fixed: #0b2013;
  }
}